<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container mt-5" >
        <div class="row">
            <div class="col">
                <h3 class="d-flex justify-content-center" style="color: red;">Fim de jogo, infelizmente você perdeu :S</h3>
                <div class="d-flex justify-content-center">
                     <button class="btn btn-primary mt-5 btn-lg" (click)='reiniciarJogo()'>Jogar Novamente</button>
                </div>        
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
    <div class="container mt-5" >
        <div class="row">
            <div class="col">
                <h3 class="d-flex justify-content-center"  style="color: green;">Fim de jogo, você ganhou :D</h3>
                <div class="d-flex justify-content-center" >
                    <button class="btn btn-primary mt-5 btn-lg" (click)='reiniciarJogo()'>Jogar Novamente</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>